@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Mono", monospace, sans-serif;
  font-size: 20px;
}
body {
  background: url("resources/img/Subtle-Prism.svg") no-repeat center;
  background-size: cover;
  font-family: sans-serif;
  height: 98vh;
  width: 95vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
